.show {
  animation: show-item 1s ease-in forwards;
}

/* forwards 动画停留在最后一帧 */
.hidden {
  animation: hide-item 1s ease-in forwards;
}

/* css3 动画效果 */
@keyframes hide-item {
  0% {
    opacity: 1;
    color: red;
  }
  50% {
    opacity: 0.5;
    color: green;
  }
  100% {
    opacity: 0;
    color: blue;
  }
}

@keyframes show-item {
  0% {
    opacity: 0;
    color: blue;
  }
  50% {
    opacity: 0.5;
    color: green;
  }
  100% {
    opacity: 1;
    color: red;
  }
}
